co_tracker_saved_videos/
__pycache__/
.vscode/
# *.sh
*.json
wandb/
*.log
*.pth
*.zip
*.txt
data_loader_log/
clustering_results/
davis/
hb/
*.gif
*.png
*.jpg
*.jpeg
*.webp
*.mp4
.nfs00000000005480320000000b
.nfs00000000005196220000001b
.vscode-upload.json

!models/
!experiments/
!evaluation/
!utils/
!dataset/